/*================== PÁGINAS 24HS ==================*/
/* Área das logos lado a lado */
.logos-seguradoras {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* espaço entre as imagens */
    margin-bottom: 30px; /* espaço depois do bloco */
    width: 100%;
  }
  
  /* Imagens menores e proporcionais */
  .logo-pequena {
    height: 20px; /* ou 80px ou qualquer valor menor que você desejar */
    width: auto; /* largura ajustada automaticamente para manter a proporção */
    object-fit: contain; /* mantém proporção sem distorcer */
  }
  
  .textos-seguradoras{
    display: flex;
    flex-direction: column; /* Alinha os itens de cima para baixo */
    align-items: center; /* Centraliza os itens horizontalmente */
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Adiciona um pouco de espaço interno */
  }
  
  .telefone-btn {
    display: inline-flex; /* Exibe o botão como um elemento inline (sem quebra de linha), mas com a capacidade de usar o layout flexível. */
    align-items: center; /* Alinha verticalmente o conteúdo (ícone e texto) no centro. */
    background-color: #ffc107; /* Define a cor de fundo do botão como verde (pode ser alterada conforme preferir). */
    color: #333; /* Define a cor do texto como branca. */
    padding: 8px 12px; /* Adiciona um espaçamento interno de 8px na vertical e 12px na horizontal. */
    border-radius: 5px; /* Arredonda os cantos do botão com raio de 5px, deixando-o mais suave e amigável. */
    text-decoration: none; /* Remove qualquer estilo de link (como sublinhado) do botão. */
    font-weight: bold; /* Define o texto em negrito. */
    font-size: 16px; /* Define o tamanho da fonte para 16px, ajustando a legibilidade. */
    transition: background-color 0.3s ease; /* Faz a cor de fundo mudar suavemente quando o botão for clicado. */
  }
  
  .telefone-btn:hover {
    background-color: #ffb300; /* Quando o mouse passa sobre o botão, a cor de fundo muda para um tom mais escuro de verde. */
  }
  
  .telefone-btn img {
    width: 20px; /* Define a largura da imagem para 20px. */
    height: 20px; /* Define a altura da imagem para 20px, mantendo a proporção correta. */
    margin-right: 10px; /* Adiciona um espaço de 10px entre a imagem e o texto do botão. */
  }
  